.ClientList {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #274066;
}

.registredClients {
  padding: 3rem 1rem;
  min-height: 30rem;
  width: 58rem;
  background-color: #d9d9d9;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  overflow-x: auto;
}

h1 {
  font-size: 2.2rem;
}

table {
  border-collapse: collapse;
  text-align: left;
  background-color: #cfd0d1;
}

th {
  font-size: 1.2rem;
}

th,
td {
  padding: 1rem 1.5rem;
  /* border: 1px black solid; */
}

td {
  font-size: 1.1rem;
}

tbody tr:nth-child(odd) {
  background-color: #f1ecec;
}

.editClient {
  font-size: 1rem;
  padding: 0.5rem;
}

.addClient {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  padding: 0.7rem 1.2rem;
}

.addClientBtn {
  background-color: #274066;
  border-radius: 5px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.deleteClient {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}

.deleteClientBtn {
  cursor: pointer;
}
