.EditContainer {
  background-color: #0b1e3a;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EditClient {
  min-height: 38rem;
  max-height: 45rem;
  width: 50rem;
  background-color: #d7d7d7;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  position: relative;
  padding-top: 2rem;
}

.EditClient h1 {
  font-weight: normal;
  position: relative;
}

.EditClient h1::before {
  content: "";
  position: absolute;
  background-color: #297cdf;
  width: 4px;
  height: 40%;
  bottom: 12px;
  left: -5px;
}

.ClientForm {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 3rem;
  width: 65%;
}

.ClientForm input {
  width: 100%;
  border-style: hidden;
  border-bottom: 1px solid #b8b2b2;
  padding: 0.5rem 0.25rem;
  font-size: 1.2rem;
  background-color: #d7d7d7;
}

.ClientForm input:focus {
  color: #297cdf;
  outline: none;
  border-bottom-color: #297cdf;
}

.SubmitBtn {
  background-color: #297cdf;
  outline: none;
  border: none;
  font-weight: normal;
  color: #d9d9d9;
  font-size: 1.6rem;
  padding: 1rem 6rem;
}

.SubmitBtn:hover {
  cursor: pointer;
  background-color: #205ca5;
}

.Cellphone {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: 8rem;
  overflow-y: auto;
}

.ClientListBtn {
  position: absolute;
  right: 10px;
  top: 5px;
  background-color: #297cdf;
  border-radius: 5px;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

.CloseBtn {
  height: 15px;
  width: 15px;
  position: absolute;
  background-color: #ff605c;
  top: 10px;
  right: 10px;
  border-radius: 100%;
}

.ErrorMessage {
  background-color: #ff322e;
  font-size: 1.5rem;
  padding: 0.8rem 1rem;
  color: white;
  border-radius: 5px;
}

.HideErrorMessage {
  display: none;
}
